.img {
  width: 200px;
}
.item > div {
  flex-basis: calc(15%); /* calculate the width of each item based on the gap */
  height: 170px;
}

.main {
  width: 100%;
  height: 100vh;
  margin-top: 1rem;

  padding: 3px;
  /* background-color: gray; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  overflow-y: auto;
  /* text-align: center; */
}

.child {
  /* width: 30%; */
  /* height: auto; */
  height: fit-content;
}

.img {
  width: 2000px;
  border-radius: 0.6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
/* .child:hover {
  background-color: #ffffff26;
} */
.para {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
}
.searchInputBox {
  width: 70%;
  color: black;
  margin-right: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}
.searchBtn {
  background-color: rgb(33, 156, 141);
  color: rgb(0, 0, 0);
  padding: 0.2rem 2rem;
  border-radius: 20px;
}
.searchBtn:hover {
  background-color: rgb(39, 188, 170);
  color: rgba(0, 0, 0, 0.764);
  cursor: pointer;
}

/* @media only screen and (max-width: 770px) {
  .item > div {
    flex-basis: calc(
      23%
    );
  }
} */
@media only screen and (max-width: 717px) {
  .searchInputBox {
    width: 60%;
  }
  .searchBtn {
    background-color: rgb(33, 156, 141);
    color: rgb(0, 0, 0);
    padding: 0.2rem 2rem;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .searchInputBox {
    width: 42%;
    /* margin-right: 3rem; */
    margin-left: 1.5rem;
  }
  .searchBtn {
    background-color: rgb(33, 156, 141);
    color: rgb(0, 0, 0);
    padding: 0.2rem 2rem;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .item > div {
    flex-basis: calc(48%);
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .item > div {
    flex-basis: calc(90%);
    height: auto;
  }
}
@media only screen and (min-width: 700px) {
  .item > div {
    flex-basis: calc(23%);
    height: auto;
  }
}
@media only screen and (min-width: 1110px) {
  .item > div {
    flex-basis: calc(24%);
    height: auto;
  }
}
